In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from astropy.table import Table
import pyvo as vo

In [2]:
simbadtap = vo.dal.TAPService("http://simbad.u-strasbg.fr/simbad/sim-tap")
# simbadtap = vo.dal.TAPService("http://simbad.cfa.harvard.edu/simbad/sim-tap")

In [3]:
iden = pd.read_csv("../../GaiaPairsFollowup/data/star_identifier.csv")

In [13]:
Table.from_pandas(iden[['name']]).write("tmp.xml", format='votable')

In [10]:
import groupten

In [11]:
df = groupten.load_targets()

In [15]:
Table.from_pandas(df).write("tmp.xml", format='votable', overwrite=True)

In [60]:
query = """
select t.hip_tyc_id, id2.id
FROM tap_upload.mytable as t left join ident as id1 on id1.id = t.hip_tyc_id
left join ident as id2 using (oidref)
where id1.id = 'HIP 67231'
"""

In [64]:
simbadtap.run_sync("select id2.id from ident as id1 join ident as id2 using (oidref) where id1.id='HIP67231")

In [61]:
result = simbadtap.run_sync(query, uploads={"mytable":('inline', 'tmp.xml')})

In [62]:
dfhd = result.table.to_pandas()

In [33]:
grp = dfhd.groupby("hip_tyc_id")

In [42]:
Table.from_pandas(dfhd).show_in_browser()

In [63]:
dfhd.loc[dfhd.hip_tyc_id == 'HIP 67231']

In [44]:
df.hip_tyc_id

In [37]:
grp.filter(lambda x: len(x)<3)

In [32]:
dfhd.groupby("hip_tyc_id").size().loc[dfhd.groupby("hip_tyc_id").size()>2]

In [29]:
dfhd['name'] = dfhd.name.str.decode('utf-8')
dfhd['id'] = dfhd.id.str.decode('utf-8')

In [33]:
dfhd.describe()

In [40]:
dfhd.groupby('name').size()[dfhd.groupby('name').size()>1]

In [ ]:
"""
-- Display all identifiers of a given object.
SELECT id2.id
FROM ident AS id1 JOIN ident AS id2 USING(oidref)
WHERE id1.id = 'M13';
"""

In [4]:
query = """
FROM TAP_UPLOAD.mytable as t JOIN ident ON t.name = ident.id
JOIN mesVelocities ON mesVelocities.oidref = ident.oidref
"""